<root>
<secrets ver="1.0">
<secret name="TEAMCITY_URL" value="https://<build-server-url>/httpAuth/app/rest/" />
<secret name="TEAMCITY_USERNAME" value="" />
<secret name="TEAMCITY_PASSWORD" value="" />
</secrets>
</root>
